<div class="responsiveform-container">
  <p class="form-header-section">Responsive Form Works!</p>
  <hr />
  <form action="/action_page.php">
    <div class="container">
      <div class="left-section">
        <div class="main-div">
          <label class="label-class"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" required />
        </div>

        <div class="main-div">
          <label class="label-class"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required />
        </div>
      </div>

      <div class="right-section">
        <div class="main-div">
          <label class="label-class"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />
        </div>
        <div class="main-div">
          <label class="label-class"><b>Repeat Password</b></label>
          <input
            type="password"
            placeholder="Repeat Password"
            name="psw-repeat"
            required
          />
        </div>
      </div>

      <input type="checkbox" /> Remember me
      <p>
        To create an account you have to agree our
        <a href="#">Terms & Privacy</a>.
      </p>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
  <hr />
  <h5>Table with multiple row & checkbox selection associated with it</h5>
  <table style="width: 100%">
    <tr>
      <th>Checkbox</th>
      <th>Name</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let item of checkBoxData">
      <td>
        <input
          type="checkbox"
          id="vehicle1"
          name="vehicle1"
          value="Bike"
          [checked]="isCheckBoxCheck"
          (click)="toggleCheckbox($event, item)"
        />&nbsp;<label for="vehicle1"> checkbox</label>
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.code }}</td>
    </tr>
  </table>
  <h5>Temperature Conversion</h5>
  <div class="temperatureConversion">
    <label for="ftemp">Fahrenheit</label>
    <input
      type="number"
      name="ftemp"
      id="ftemp"
      #ftemp
      (keyup)="tempConversion(ftemp.value, 'F')"
      [(ngModel)]="fTemperature"
    />
    <label for="ctemp">Celsius</label>
    <input
      type="number"
      name="ctemp"
      id="ctemp"
      #ctemp
      (keyup)="tempConversion(ctemp.value, 'C')"
      [(ngModel)]="cTemperature"
    />
  </div>
  <hr />
  <h5>Random image will be shown below on reload of a page!!!</h5>
  <div class="main-dg-container">
    <div
      id="dog-container"
      style="background-image: url({{ srcImageUrl }})"
    ></div>
  </div>
  <hr />
  <h5>Show the filterd list based in enered input</h5>
  <input
    type="text"
    #searchText
    (blur)="checkGenreBasedOnsearchText(searchText.value)"
  />
  <br />
  <br />
  <div class="moviesContainer">
    <div class="movieSection" *ngFor="let item of moviesData">
      <figure>
        <span>{{ item.title }}</span>
        <figcaption>
          {{ item.genre[0] }} {{ item.genre[1] }} {{ item.genre[2] }}
        </figcaption>
      </figure>
    </div>
  </div>
  <br />
  <br />
  <h5>For loop performance issue (Iteration over forLoopArray using trackby)</h5>
  <div class="forLoopPerformanceIssues">
    <p *ngFor="let item of forLoopArr; trackBy: trackByFuntion">{{item.name}}</p>
  </div>
 
  <button (click)="refreshNames()">Refresh</button>
</div>

<div>
  <h5> Custom Pipe Implementations</h5>
  <h3>{{responsiveFormData | Demo}} </h3>
</div>
