<div class="responsiveform-container">
  <p class="form-header-section">Responsive Form Works!</p>
  <hr />
  <form action="/action_page.php">
    <div class="container">
      <div class="left-section">
        <div class="main-div">
          <label class="label-class"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" required />
        </div>

        <div class="main-div">
          <label class="label-class"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required />
        </div>
      </div>

      <div class="right-section">
        <div class="main-div">
          <label class="label-class"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />
        </div>
        <div class="main-div">
          <label class="label-class"><b>Repeat Password</b></label>
          <input
            type="password"
            placeholder="Repeat Password"
            name="psw-repeat"
            required
          />
        </div>
      </div>

      <input type="checkbox" checked="checked" /> Remember me
      <p>
        To create an account you have to agree our
        <a href="#">Terms & Privacy</a>.
      </p>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</div>
