<div class="promise-container">
<p>promise works!</p>
<ul>
  <li>Brand: {{ promiseVal?.brand }}</li>
  <li>HardDisk: {{ promiseVal?.hardDisk }}</li>
  <li>Color: {{ promiseVal?.color }}</li>
</ul>
<hr />

<div class="row">
    <div class="col-md-4">
        <strong>Ex-01 :With Promise</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
         <hr>
         <div id="result1"></div>
    </div>

    <div class="col-md-4">
        <strong>Ex-02 :With Async/Await</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
         <hr>
         <div id="result2"></div>
    </div>

    <div class="col-md-4">
        <strong>Ex-03 :With fetch API</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
         <hr>
         <div id="result3"></div>
    </div>
</div>
</div>


